
    body{
      background-color: #e6f8f9;
    }
    h1{
      color: #66BFBF;
    }
    h3{
      color:#ee5a5a;
    }
      hr{
        border-style: none;
        border-top-style: dotted;
        border-color: grey;
        border-width: 5px;
        width:5%;
      }
